footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8%;
  width: 100vw;
}

#toast-success, #toast-warning {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.boton-comun {
  background-color: #4B5563; /* Gris oscuro */
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.boton-comun:hover {
  background-color: #1F2937;
}

.boton-comun:active {
  background-color: #111827;
  box-shadow: 0 0 10px #4B5563;
}
