{% extends 'layouts/nav_bar.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 id='titulo1' class="flex items-center text-5xl font-extrabold dark:text-black">Numerical Methods</h1>

<div>
  <div>
    <i id='icono2' class="fa fa-calculator"> Single Variable Equations</i>
  </div>
  <div id='ilera2' class="flex">
    <form method="GET" action="{% url 'Busqueda Incremental' %}">
      <button class="boton-comun" style="margin: 15px;">Incremental Search</button>
    </form>
    <form method="GET" action="{% url 'Biseccion' %}">
      <button class="boton-comun" style="margin: 15px;">Bisection</button>
    </form>
    <form method="GET" action="{% url 'Regla Falsa' %}">
      {% csrf_token %}
      <button class="boton-comun" style="margin: 15px;">False Position</button>
    </form>
    <form method="GET" action="{% url 'Punto Fijo' %}">
      {% csrf_token %}
      <button class="boton-comun" style="margin: 15px;">Fixed Point</button>
    </form>
    <form method="GET" action="{% url 'Newton Rapshon' %}">
      {% csrf_token %}
      <button class="boton-comun" style="margin: 15px;">Newton-Raphson</button>
    </form>
    <form method="GET" action="{% url 'Secante' %}">
      <button class="boton-comun" style="margin: 15px;">Secant</button>
    </form>
    <form method="GET" action="{% url 'Raices Multiples' %}">
      {% csrf_token %}
      <button class="boton-comun" style="margin: 15px;">Multiple Roots</button>
    </form>
  </div>

  <div>
    <div>
      <i id='icono3' class="fa fa-sort-numeric-up"> Systems of Equations</i>
    </div>
    <div id='ilera3' class="flex">
      <form method="GET" action="{% url 'lu_simple_gaussiana' %}">
        <button class="boton-comun" style="margin: 15px;">LU Simple Gaussiana</button>
    </form>     
      <form method="GET" action="{% url 'doolittle_matrix' %}">
        <button class="boton-comun" style="margin: 15px;">Doolittle</button>
      </form>
      <form method="GET" action="{% url 'crout_matrix' %}">
        <button class="boton-comun" style="margin: 15px;">Crout</button>
      </form>
      <form method="GET" action="{% url 'cholesky_matrix' %}">
        <button class="boton-comun" style="margin: 15px;">Cholesky</button>
      </form>
      <form method="GET" action="{% url 'Jacobi' %}">
        <button class="boton-comun" style="margin: 15px;">Jacobi</button>
      </form>
      <form method="GET" action="{% url 'gauss_seidel_matrix' %}">
        <button class="boton-comun" style="margin: 15px;">Gauss-Seidel</button>
      </form>
  </div>
</div>

{% endblock %}