{% extends 'layouts/nav_bar.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 id='titulo1' class="flex items-center text-5xl font-extrabold dark:text-black">Métodos Numéricos</h1>

<div>
  <div>
    <i id='icono2' class="fa fa-calculator"> Ecuaciones de una variable</i>
  </div>
  <div id='ilera2' class="flex">
    <form method="GET" action="{% url 'Busqueda Incremental' %}">
      <button class="boton-comun" style="margin: 15px;">Búsqueda Incremental</button>
    </form>
    <form method="GET" action="{% url 'Biseccion' %}">
      <button class="boton-comun" style="margin: 15px;">Bisección</button>
    </form>
    <form method="GET" action="{% url 'Regla Falsa' %}">
      {% csrf_token %}
      <button class="boton-comun" style="margin: 15px;">Regla Falsa</button>
    </form>
    <form method="GET" action="{% url 'Punto Fijo' %}">
      {% csrf_token %}
      <button class="boton-comun" style="margin: 15px;">Punto Fijo</button>
    </form>
    <form method="GET" action="{% url 'Newton Rapshon' %}">
      {% csrf_token %}
      <button class="boton-comun" style="margin: 15px;">Newton Rapshon</button>
    </form>
    <form method="GET" action="{% url 'Secante' %}">
      <button class="boton-comun" style="margin: 15px;">Secante</button>
    </form>
    <form method="GET" action="{% url 'Raices Multiples' %}">
      {% csrf_token %}
      <button class="boton-comun" style="margin: 15px;">Raices Multiples</button>
    </form>

  </div>
</div>

{% endblock %}